<!DOCTYPE html>
<html lang="es" ng-app="starBankApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles/retirar.css">
    <link rel="stylesheet" type="text/css" href="styles/nav.css">
    <title>StarBank Web</title>
</head>

<body ng-controller="retiroController">

    <div class="top">
        <h1>STARBANK | TRANSACCIONES</h1>
        <form action="">
            <input type="search" placeholder="¿Tienes alguna pregunta?">
        </form>
    </div>

    <nav class="navbar">
        <a href="micuenta.html">MI CUENTA</a>
        <a href="midebito.html">MI DÉBITO</a>
        <a href="servicios.html">PAGO DE SERVICIOS</a>
    </nav>

    <div class="return">
        <a href="javascript:history.back()">
            <img src="Images/return.png" alt="Botón de retroceso" width="100">
        </a>
    </div>

    <div class="target">
        <h1>Datos del retiro</h1>
        <form ng-submit="realizarRetiro()">
            <input type="text" ng-model="retiroDatos.cantidad" placeholder="Cantidad (Múltiplos de 50)">
            <button type="button" ng-click="establecerCantidad(50)" class="button">Retirar $50</button>
            <button type="button" ng-click="establecerCantidad(100)" class="button">Retirar $100</button>
            <button type="button" ng-click="establecerCantidad(200)" class="button">Retirar $200</button>
            <button type="button" ng-click="establecerCantidad(500)" class="button">Retirar $500</button>
            <button type="button" ng-click="establecerCantidad(1000)" class="button">Retirar $1000</button>
            <button type="submit" class="button" id="submit">Realizar retiro</button>
        </form>
    </div>

    <script src="angular.min.js"></script>
    <script src="angular-route.min.js"></script>
    <script src="app.js"></script>
</body>

</html>
