@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

body{
    height: 100vh;
    background-image: url('resources/mainbg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.target{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 40%;
    left: 25%;
    bottom: 25px;
    background-color: #E9E8E8;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
}

.target h2,h3,h4{
    position: relative;
    font-size: 25px;
    margin: 0px 0 150px 0;
    right: 150px;
}

.target span .c1{
    position: relative;
    background-color: #ff0000;
    border-radius: 15px;
    width: 70%;
    height: 200px;
    z-index: 12;
    top: 155px;
}

.target .button {
    position: relative;
    width: 90%;
    top: 24px;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #BF4AF7;
    color: #ffffff;
    border: none;
    border-radius: 10px;
}

.target a {
    color: #BF4AF7;
    text-decoration: none;
  }

  .target .button:hover {
    background-color: #D486F9;
    transition: 0.3s;
  }